a{
	color: black;
	text-decoration: none;
}
li{
    padding: 0px 20px;
    text-align: center;
    display: inline;
}
footer{
    text-align: center;
}
.Copyright{
    font-size: 12px;
	color: rgb(168, 168, 168);
}